{% extends 'main/layout.html' %}

{% block title %}Вход{% endblock %}
{% block content %}
{% if ads %}
    {% for ad in ads %}
            <div class="ad">
                <div class="image">{% include 'main/images.html' %}</div>
                <div class="title">{{ad.title}}</div>
                <div class="disc">{{ad.disc}}</div>
                <div class="email">{{ad.email}}</div>
                <div class="date">{{ad.date}}</div>
                <div class="date">{{ad.status}}</div>
                <div class="date">{{ad.category}}</div>
                <div class="more">
                    <a href="{% url 'ad' ad.id %}">Подробнее..</a>
                </div>
            </div>
    {% endfor %}

{% else %}
<h2>Пусто</h2>
{% endif %}

{% endblock %}