{% extends 'main/layout.html' %}
{% block title %}Объявления{% endblock %}
{% block content %}
<h1> Ваши объявления</h1>

{% if ads %}
    {% for ad in ads %}
    <div class="ad">
            <div class="img">
                {% include 'main/images.html' %}
            </div>
            <div class="title">{{ad.title}}</div>
            <div class="disc">{{ad.disc}}</div>
            <div class="date">{{ad.date}}</div>
            <div class="email">{{ad.email}}</div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}