{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url 'ads' %}" class="ads">Обьявления</a>
        <a href="{% url 'login' %}" class="ads">Вход</a>
        <a href="{% url 'registration' %}" class="ads">Регистрация</a>
        <a href="{% url 'create' %}" class="ads">Создать</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>